// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.ui-droppable-hover {
    padding-top: 200px;
    transition: padding-top 0.3s ease-in-out;
}

.ui-draggable {
    z-index: 999;

    .card-head, .card-body {
        cursor: move;
    }
    .task-content {
        cursor: default;
    }
}
